* {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
  font-size: 20px;
}
.container {
  margin: 10px 10px;
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 15px solid lightgray;
  border-radius: 15px;
}

header {
  background-color: rgb(252, 238, 171);
  padding: 15px;
  text-align: left;
  margin: 0px;
}
header h5 {
  text-align: left;
}
input[type="text"],
input[type="email"],
select textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
}
fieldset {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px;
}
input[type="submit"] {
  background-color: #4daea1;
  color: #fff;
  border: none;
  border-radius: 4px;
  border-color: #4daea1;
  padding: 12px 20px;
  cursor: pointer;
  margin: 10px;
}
input[type="submit"]:hover {
  background-color: aquamarine;
  color: black;
}

textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
}
