* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 15px 30px;
  font-size: 17px;
  padding: 8px;
}
.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 15px solid lightgray;
  border-radius: 15px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
}
fieldset {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.main-heading {
  text-align: center;
}
input[type="submit"]{
    background-color: #4daea1;
    color: #fff;
    border: none;
    border-radius: 4px;
    border-color: #4daea1;
    padding: 12px 20px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover{
    background-color: rgb(60, 170, 73);
    color: rgb(255, 255, 255);

}
